html, body {
    height:100%;
    width:100%;
    padding: 10px;
    background-color:#B8E986;
}
/********* Home Page **********/
.gridBlock{
  position: relative; 
}

/*LEFT*/
#catbody{
  z-index:-1;
}
.playerdiv{
  position: absolute;
  top: 5%;
  width: 100%;
  z-index:2;
}
#player {
	padding: 16%;
	padding-top: 8%;
}
#playNext {
  position: absolute;
  top: 20%;
  right: -6%;
  width: 26%;
  z-index:3;
}

/*RIGHT*/
.title{
	/* HELP BIG CATS PURR: */
	font-family: AvenirNext-Bold;
	font-size: 46px;
	color: #323232;
	line-height: 79px;
	position: relative;
	top: 10px;
}

#tab1{
	background-color: #8BC451;
	border:  2px solid #6B6B6B 0.3;
	border-radius: 10px 10px 0 0;
	border-bottom-color: transparent;
	margin-bottom: -2px;
}
#tab2{
	background-color: #4A90E2;
	border:  2px solid #6B6B6B 0.3;
	border-radius: 10px 10px 0 0;
	border-bottom-color: transparent;
	margin-bottom: -2px;
}
.tabContent1{
	opacity: 0.6;
	background: #8BC451;
	border:  2px solid #6B6B6B 0.3;
}
.tabContent2{
	opacity: 0.6;
	background: #4A90E2;
	border:  2px solid #6B6B6B 0.3;
}

/*scroll bar*/
.wrap { 
    overflow-y:auto;
    height: 600px;
}
/*content style*/
.content{   
    padding:15px;
    min-height:100%;
}
/* small cat videos counts*/
#count{
	font-size: 14px;
	color: #4A4A4A;
/*	padding: 10px;*/
}
.viewCount{
	font-size: 26px;
	/*color: #e74c3c;*/
}

/* big cats videos notice*/
.notice{
	/* rare spicies notice */
	font-size: 16px;
	color: blue;
}
.bigCatName{
	font-size: 26px;
	color: blue;
}
.cardBoarder{
	padding: 5px;
}

.cardContent{
	position: absolute; 
	top: 0;
  	left: 0;
  	padding: 5px;
	z-index: 2;
}

#tiger{display: none;}
#lion{display: none;}
#cheetah{display: none;}
#sleopard{display: none;}
#cleopard{display: none;}
#scleopard{display: none;}
#lynx{display: none;}
#fishingcat{display: none;}
#flatheadcat{display: none;}

.cardgraph{
	width: 80%;
}

.caption{/*click to show modal and pause*/}
/* square, hover for detail. dash-decorate uncollected cards*/
/* pre arrange, when triggered, change "display: none" to "block"*/

/********* RESULTS **********/

/********* SOLUTION PAGE **********/
/*#Boma{
	position: absolute;
	left: 326px;
	top: -5px ;
}

#African{
	position: absolute;
	left: 800px;
	top: 160px ;
}
#Tiger{
	position: absolute;
	left: 0;
	top: 450px ;
}
#tigerContent{
	z-index: 2;
	position: relative;
	left: -280px;
	top: -220px;
}
#Flashlight
{
	position: absolute;
	left: -18px;
	top: 130px ;
}
#tigerContent{
	z-index: 2;
	position: relative;
	left: -100px;
	top: -130px;
}
#House{	position: absolute;
	left: 1190px;
	top: -11px ;
}
#Cat{
	position: absolute;
	left: 1166.3px;
	top: 0 ;
}*/